<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<!--HTML文書内でThymeleafテンプレートエンジン のカスタム属性（th:*）を使用できるように
するための名前空間宣言。これでHTML要素にThymeleaf独自の属性であるthが追加可能になる。
ここに記載されたURLは、名前空間の識別のために使用されている。-->
<head>
    <meta charset="UTF-8">
    <title>受講生情報一覧</title>
</head>
<body>
<h1>受講生情報一覧</h1>
<table border = "1">
    <thead>
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>カナ名</th>
        <th>ニックネーム</th>
        <th>メールアドレス</th>
        <th>地域</th>
        <th>年齢</th>
        <th>性別</th>
        <th>備考</th>
    </tr>
    </thead>
    <tbody>
    <tbody>
    <tr th:each="studentDetail : ${studentList}" th:if="${studentDetail?.student != null and !studentDetail.student.isDeleted}">
        <td th:text="${studentDetail.student.id}">ID</td>
        <td>
            <a th:href="@{/student/detail/{id}(id=${studentDetail.student.id})}" th:text="${studentDetail.student.studentName}">
                名前
            </a>
        </td>
        <td th:text="${studentDetail.student.furigana}">カナ名</td>
        <td th:text="${studentDetail.student.nickname}">ニックネーム</td>
        <td th:text="${studentDetail.student.email}">メールアドレス</td>
        <td th:text="${studentDetail.student.region}">地域</td>
        <td th:text="${studentDetail.student.age}">年齢</td>
        <td th:text="${studentDetail.student.gender}">性別</td>
        <td th:text="${studentDetail.student.remark}">備考</td>
    </tr>
    </tbody>

    <!--このtbodyのtr内thでは、studentDetailクラスにあるstudentクラスのid等を参照している。
    参照変数がstudentクラスと全く同じでないと、リストが機能しないことに留意すること-->
    <!--th:eachはリストやコレクションのループ処理を行う。このリストでは、studentDetail内の
    studentListの人数分ループ処理を行い、画面表示をできるようにしている-->
    <!--tr:textはテキストを動的に置き換える-->
</table>
</body>
</html>